/* styles.css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.list-button {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
    padding: 8px;
}

.list-button:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-header {
    background-color: #f7fafc;
}

.bg-serach {
    background-color: #f0f3f4;
}

.color-icon-header {
    color: #5f6367;
}

.btn-bg {
    background-color: #c1e7fe;
}

.btn-create-bg {
    background-color: #c1e7fe;
    height: 40px;
    width: 90%;
}

/* .layout-body {
    display: flex;
    flex: 1;
} */

.sidebar-col {
    background-color: #f7fafc;
    height: 650px;
    /* width: 330px; */
    overflow-y: auto;
}

.main-content {
    /* background-color: #f7fafc; */
    padding: 15px;
    overflow-y: auto;
    height: 650px;
    max-width: 100%;
}